In [2]:
import torch
import torch.nn as nn
import matplotlib.pyplot as plt
import numpy as np
import dask.dataframe as dd

In [6]:
X = dd.read_csv('housingPriceData.csv', encoding="UTF-8")
X = X.drop(['id'], axis=1)

X.head()

      price  bedrooms  bathrooms  sqft_living
0  221900.0         3       1.00         1180
1  538000.0         3       2.25         2570
2  180000.0         2       1.00          770
3  604000.0         4       3.00         1960
4  510000.0         3       2.00         1680

In [10]:
X = torch.Tensor(X.values)

TypeError: 'float' object cannot be interpreted as an integer